<table>
    <thead>
        <tr class="head-tr">
            <th>id</th>
            <th #userTh>name</th>
            <th>age</th>
            <th>type</th>
            <th>isBool</th>
        </tr>
    </thead>
    <tbody>
        <app-user-detail #userRef *ngFor="let user of users" [detail]="user" (remove)="handleRemove($event)">
            <h1 #contentRef>{{ user.name }}</h1>
        </app-user-detail>
    </tbody>
    <div highlighttext>This is highlighttext</div>
    <h2 *customif="true">This is true</h2>
    <h2 *customif="false">This is false</h2>
</table>