<router-outlet></router-outlet>
<!-- {{ title }}
{{ numberOne + numberTwo }}
{{ togglePokemon ? "isPokemon" : "isNotPokemon" }} -->
<!-- <h1 [innerHTML]="title"></h1>
<img [src]="imgSrc" alt="basket"> -->

<!-- <h2>Two-way Binding Example</h2>
<input [(ngModel)]="favoriteAnimal">
<p> {{ favoriteAnimal }} </p> -->

<!-- <input type="text" #pokemonName />
<button (click)="handleClick(pokemonName.value)">Click me</button> -->

<!-- <table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Name</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr [class.cool-bool]="user.isBool" *ngFor="let user of users; let i = index">
      <td [class.bool-one]="user.isBool">{{ user.id }}</td>
      <td [ngClass]="{'bool-two': user.isBool}">{{ user.name }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.type }}</td>
    </tr>
  </tbody>
</table> -->

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td [ngClass]="{'cool-bool': user.isBool}"> {{ i + 1 }}:{{user.name}} </td>
    </tr>
    <tr *ngFor="let user of users; let i = index">
      <td class="user-td" [style.background]="user.isStylish ? '#000' : '#800088'"> {{ i }}:{{user.name}}
      </td>
    </tr>
    <tr *ngFor="let user of users; let i = index">
      <td class="user-td" [ngStyle]="{'backgroundColor': (user.isStylish ? '#ff0000': '#800088')}"> {{ i
        }}:{{user.name}}
      </td>
    </tr>
    <tr *ngFor="let user of users; let i = index">
      <td [ngClass]="{'try-class' : user.isBool}" [ngStyle]="{'color' : user.isStylish ? '#99f' : '#ff0000'}">{{ i +
        1}}:{{user.age + 5}}</td>
    </tr>
  </tbody>
</table>