<form #form="ngForm">
  User Name:
  <input type="text" [(ngModel)]="user.name" name="name">

  <label>
    <input type="radio" name="isBool" [value]="true" #userName="ngModel" [ngModel]="user.isBool"
      (ngModelChange)="toggleIsBool($event)" />
    User is cool?
  </label>
  <label>
    <input type="radio" name="isBool" [value]="false" [ngModel]="user.isBool" (ngModelChange)="toggleIsBool($event)" />
    User is NOT cool?
  </label>
  <label>
    <input type="checkbox" name="acceptTerms" [(ngModel)]="user.acceptTerms" />
    Please check to accept terms?
  </label>
  <label>
    User Type:
    <select name="userType" [ngModel]="user?.id">
      <option *ngFor="let type of userType" [value]="type.key" [selected]="type.value === user.type">{{ type.value }}
      </option>
    </select>
  </label>
</form>

<div>
  MODEL: {{ user | json }}
  <br />
  FORM: {{ form.value | json }}
  <br />
  ERROR: <div *ngIf="!userName.pristine">NOT PRISTINE ANYMORE IT IS DIRTY!</div>
  <div *ngIf="!userName.touched">NOT PRISTINE ANYMORE IT IS DIRTY!</div>
  <div *ngIf="!userName.invalid">NOT PRISTINE ANYMORE IT IS DIRTY!</div>
</div>